body {
  font-family: Helvetica;
}

h1 {
  color: orange;
  clear: both;
  font-size: 50px;
}

ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

a {
  text-decoration: none;
  padding: 20px;
  float: left;
  color: black;
  background-color: orange;
  margin-left: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.form {
  width: 15%;
  text-align: right;
}

.products {
  width: 20%;
  float: left;
  margin-bottom: 50px;
}

.products a {
  padding: 10px;
  background-color: darkcyan;
  margin-right: 10px;
}
